{% extends "bootstrap_4_layout.html.twig" %}

{% block form_widget_simple %}
  {% for attrname, attrvalue in attr %}
    {% if attrname == 'data-help' %}
      <small class="form-text text-muted">{{ attrvalue|trans }}</small>
    {% endif %}
  {% endfor %}
  {{- parent() -}}
{% endblock %}

{% block textarea_widget %}
  {% for attrname, attrvalue in attr %}
    {% if attrname == 'data-help' %}
      <small class="form-text text-muted">{{ attrvalue|trans }}</small>
    {% endif %}
  {% endfor %}
  {{- parent() -}}
{% endblock %}

{% block formcustomcode_widget %}
  <div class="customcode_widget">
    {% if attr.html %}{{ attr.html|raw }}
    {% endif %}
  </div>
{% endblock %}

{% block radio_label %}
  {# Do not display the label if widget is not defined in order to prevent double label rendering #}
  {% if widget is defined %}
    {% if required %}
      {% set label_attr = label_attr | merge({
        class: (label_attr.class | default('') ~ ' required') | trim
      }) %}
    {% endif %}
    {% if parent_label_class is defined %}
      {% set label_attr = label_attr | merge({
        class: (label_attr.class | default('') ~ ' ' ~ parent_label_class) | trim
      }) %}
    {% endif %}
    {% if label is not same as(false)and label is empty %}
      {% set label = name | humanize %}
    {% endif %}
    <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}" {% endfor %}>
      {{- widget|raw }}
      {{ label is not same as(false) ? (translation_domain is same as(false) ?  label|raw : label|trans({}, translation_domain)|raw ) -}}
    </label>
  {% endif %}
{% endblock radio_label %}
